<h1>Cadastro de usuario</h1>
<%= form_for @usuario do |f| %> <p>
<%= f.label :nome %> <br />
<%= f.text_field :nome %> </p>
</p><p>
<%= f.label :password %> <br />
<%= f.password_field :password %>
</p> <p>
<%= f.label :email %> <br />
<%= f.text_field :email %> </p>
</p> <p>
<%= f.label :crefito %>
<%= f.text_field :crefito %>
</p> <p>
<%= f.label :datanascimento %>
<%= date_field("usuario", "datanascimento") %>
</p><p>
<%= f.submit %> </p>
<% end %>